@charset "utf-8";

/*
 * 全体
 */
body
{
    background-color: lightyellow;
}

/*
 * 一番上のタイトル
 */
#main-title
{
    color: gray;
    text-align: center;
    border-bottom: 12px solid lightgray;
    margin-bottom: 0px;
}


/*
 *一番下のん。
 */
#main-footer
{
    color: darkslategray;
    text-align: right;
    margin-bottom: 0px;
    background-color: lightgray;
}


/*
 * 左側
 */
#left-pain
{
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #d0d0a0;
    overflow: auto;
}

/* モジュールアイテムの展開ボタン */
.expand-button
{
    display: inline;
    margin-right: 5px;
    cursor: pointer;
    background-color: #e0ffe0;
    color: black;
    font-family: monospace;
}

.expand-button:hover
{
    background-color: gray;
    color: white;
}


/* 左側のそれぞれのアイテム */

/* 今、画面上に見えてるやつ  */
#left-pain > div.active
{
    background-color: white;
}


/* モジュールの各メンバ */
#left-pain ul
{
    margin-top: 0px;
    padding-left: 1em;
}


/*
 * メイン
 */
#main-pain
{
    overflow: auto;
    position: absolute;
    padding-left: 1em;
    padding-top: 1em;
}



/*
 * 中身
 */

dt
{
    font-weight: bold;
}

/* モジュール単位 */
#modules > dt
{
    font-size: x-large;
    padding-left: 8px;
    border-left: 16px solid gray;
    border-bottom: 8px solid gray;
}

#modules > dd + dt
{
    margin-top: 4em;
}

/* 各ファイルの先頭についてるやつ。 */
#modules .summary-header-sec
{
    display: none;
}

#main-page > .summary-header-sec
{
    margin-bottom: 1em;
}
.summary-header-sec:before
{
    font-weight: bold;
}

.version-sec:before
{
    content: "バージョン： ";
}

.date-sec:before
{
    content: "更新日時： ";
}

.authors-sec:before
{
    content: "作者： ";
}

.license-sec:before
{
    content: "ライセンス： ";
}

/* 本文中 */
.acknowledgements-sec:before
{
    content: "◆ 謝辞 ◆";
    font-weight: bold;
}

.development-environment:before
{
    content: "◆ 開発環境 ◆";
    font-weight: bold;
}

dl.module-members-sec > dt
{
    border-left: 5px solid #305030;
    padding-left: 5px;
}

.summary-sec:before
{
    content: "・ ";
    color: gray;
    font-weight: bold;
}

.decl
{
    color: #707070;
    font-weight: bold;
    font-family: monospace;
}

.psymbol
{
    color: #002050;
    font-weight: bold;
}

.param
{
    color: #904840;
    font-weight: bold;
}

.params_id
{
    color: #904840;
    font-weight: bold;
}

.dkeyword
{
    color: darkblue;
    font-weight: bold;
}

.bug-sec:before
{
    content: "BUGS:";
    font-weight: bold;
    color: red;
    font-size: 1.2em;
}
